<div class="meme_show">
<h1><%= @meme.name %></h1>
<% if @meme.user %>
  <p>Created by: <%= @meme.user.username %></p>
<% end %>
<img src="<%= @meme.img_url%>" class="meme-show">

<h3>Reviews of <%= @meme.name %>:</h3>

<div id='reviewsDiv' data-id='<%= @meme.id %>' data-user='<%= @user %>' data-avatar='<%= @avatar %>'>
</div>

<% if current_user.admin %>
  <%= link_to "Delete Reviews", reviews_path %>
<% end %>
<% if current_user.nil? == false && current_user.admin == true %>
    <div class={@meme.id}><%= link_to "Delete Meme", category_meme_path(@meme), method: :delete, id: "delete-meme-#{@meme.id}" %></div>
<% end %>
<%= render "reviews/new" %>
