<h3>Meet Your Next Favorite Meme</h3>

<% if @categories.blank? %>
  <h4>There are no categories containing the term <%= params[:search] %>.</h4>
<% end %>

<% if @categories.length < 100 && @categories.length > 0 %>
  <h4>Meme Categories that match your search: <%= @search_term %></h4>
  <ul class="search-results" id="main-page">
    <% @categories.each do |category| %>
      <li><a id=<%=category.id%> href="/categories/<%= category.id%>"><img src="<%= category.image_url%>" class="meme-search"></a></li>
    <% end %>
  </ul>
<% end %>

<div id='App'></div>
