<div class="categories_show">
    <h1><%= @category.name %></h1>
    <img src='<%= @category.image_url %>' />
<ul>
<% if current_user.nil? == false && current_user.admin == true %>
  <div class={@category.id}><%= link_to "Delete Category", category_path, method: :delete, id: "delete-category-#{@category.id}" %></div>
<% end %>
<ul id="main-page">
<% @memes.each do |meme| %>
  <li><a id="main-list-items" href="/memes/<%= meme.id %>"><img src='<%= meme.img_url %>'></a></li>
<% end %>
</ul>

<%= render "memes/form" %>
</div>
