<%= form_for [@meme, @review] do |f| %>
<div class="review_form">
  <div class="review_buttons">
    <%= f.label(:rating, "Rating") %>
    <%= f.collection_radio_buttons(:rating, @rating_collection, :first, :last) %>
  </div>

  <div>
    <%= f.label(:body, "Comments:") %>
    <%= f.text_field(:body) %>
  </div>

  <div>
    <%= f.hidden_field :user_id %>
  </div>

  <div>
    <%= f.submit("Submit Review") %>
  </div>
  <%= link_to "Back", :back %>
</div>

<% end %>
