<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "goodmemes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <a class="logo" href="/">goodmemes 👌</a>
  </div>

  <div id="responsive-menu">
    <div class="top-bar-right">
      <% if user_signed_in? %>
      <img class='profile_photo' src="<%= current_user.avatar %>">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
          <a href="#">Logged in as <%= current_user.email %></a>
            <ul class="menu vertical">
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
            </ul>
          </li>
      <% else %>
        <span><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></span><!--
        --><span><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></span>
      <% end %>
      </div>
    </div>
  </ul>
</div>
  <body>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
